In [2]:
import pandas as pd

# Carregar os dados
data_path = '../data/madrid_transportation.csv'
df = pd.read_csv(data_path)

In [4]:
print("Primeras lineas del DataFrame:")
print(df.head())

Primeras lineas del DataFrame:
  mode_main   distance              main_reason  week_day           age  \
0        pt   2.960920                 shopping         4         25-34
1        pt  25.421400                commuting         4         25-34
2       car  32.487500  taking_bringing_persons         4         45-54
3       car  32.487500                commuting         4  less than 18
4      walk   0.859224                    other         1         65-74

  education  female  license      main_activity  cars  temp  precip  wind
0    middle       1        1         unemployed     1  20.0     0.0   1.1
1     lower       0        1           employee     1  20.0     0.0   1.1
2     lower       1        0   family caregiver     0  20.0     0.0   1.1
3     lower       1        0            student     0  20.0     0.0   1.1
4     lower       0        1  retired/pensioner     1  14.9     0.0   1.7

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44427 entries, 0 to 44426
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   mode_main      44427 non-null  object
 1   distance       44427 non-null  float64
 2   main_reason    44427 non-null  object
 3   week_day       44427 non-null  int64
 4   age            44427 non-null  object
 5   education      44427 non-null  object
 6   female         44427 non-null  int64
 7   license        44427 non-null  int64
 8   main_activity  44427 non-null  object
 9   cars           44427 non-null  int64
 10  temp           44427 non-null  float64
 11  precip         44427 non-null  float64
 12  wind           44427 non-null  float64
dtypes: float64(4), int64(4), object(5)
memory usage: 4.4+ MB
None

In [7]:
print(df.describe())

           distance      week_day        female       license          cars  \
count  44427.000000  44427.000000  44427.000000  44427.000000  44427.000000
mean       7.158435      2.742611      0.540347      0.659149      0.663335
std       17.738325      1.194457      0.498375      0.474001      0.472574
min        0.005216      1.000000      0.000000      0.000000      0.000000
25%        0.753561      2.000000      0.000000      0.000000      0.000000
50%        2.442590      3.000000      1.000000      1.000000      1.000000
75%        7.818475      4.000000      1.000000      1.000000      1.000000
max      490.540000      4.000000      1.000000      1.000000      1.000000

               temp        precip          wind
count  44427.000000  44427.000000  44427.000000
mean      17.810861      3.560686      1.269194
std        2.096947      7.603081      0.929680
min       14.400000      0.000000      0.000000
25%       15.900000      0.000000      0.000000
50%       18.400000      0.100000      1.400000
75%       19.000000      2.400000      1.900000
max       21.700000     28.900000      3.100000

In [8]:
print(df.columns)

Index(['mode_main', 'distance', 'main_reason', 'week_day', 'age', 'education',
       'female', 'license', 'main_activity', 'cars', 'temp', 'precip', 'wind'],
      dtype='object')

In [5]:
print("\nValores ausentes por coluna:")
print(df.isnull().sum())

Valores ausentes por coluna:
mode_main        0
distance         0
main_reason      0
week_day         0
age              0
education        0
female           0
license          0
main_activity    0
cars             0
temp             0
precip           0
wind             0
dtype: int64

In [10]:
print(df.duplicated().sum())
df = df.drop_duplicates()

0

In [ ]:
bbb